.navbar {
  background-color: #050606a7;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(20px);
}

.links > a {
  display: inline-block;
  margin: 10px;
}

.links > a:hover {
  color: var(--primary);
}
.navbar code > span {
  font-family: 'IBM Plex Mono', monospace !important;
}
